# Numerische Datentypen

## Variablen definieren und Wert ausgeben

Ganzzahlen, integers, int

Kommentare erstellen

In [1]:
# assign value 42 to variable x

x = 42 # variable x with value 42
x # return x

42

In [2]:
print(x) # print() is a function

42

## Mehrfaches Zuweisen von Variablen

Einzelne Zuweisungen wie oben ist eigentlich der Regelfall.

In [3]:
# assign multiple variables at once

y, z = 13, 37
a = b = 1337

# print variables
print(y)
print(z)
print(a)
print(b)

13
37
1337
1337

## Ausgabe des Datentyps

Gleikommazahlen, float

`type()`

Variablen erhalten von Python dynamisch einen Datentyp zugeordnet.

In [4]:
# show datatype with type()
type(x)

int

In [5]:
# . in float (instead of , !)

c = 3.5
c

3.5

In [6]:
# show datatype with type()
type(c)

float

## Arithmetische Operationen 1

Addition, Substraktion, Multiplikation, Division

In [7]:
2 + 3

5

In [8]:
# with variables
x + y

55

In [9]:
12 - 4

8

In [10]:
a - z

1300

In [11]:
6 * 7

42

In [13]:
# Division always returns float

56 / 7

8.0

## Datentyp ändern 1

In [26]:
float_number = 56 / 7

In [27]:
print(float_number)

8.0

In [28]:
type(float_number)

float

In [29]:
int_number = int(float_number)

print(int_number)
type(int_number)

8

int

In [30]:
# int to float

float(42)

42.0

## Arithmetische Operationen 2

In [31]:
5**2

25

In [32]:
(2 + 4) * 7

42

In [33]:
# floor-Divison

10 // 2

5

In [37]:
10 // 3

3

In [38]:
11 // 3

3

In [39]:
12 // 3

4

In [40]:
# modulo-Operator

11 % 3

2

In [41]:
10 % 3

1

In [42]:
9 % 3

0

## Datentyp ändern 2

In [43]:
hello = 'Hello World!'
print(hello)

Hello World!

In [45]:
# check type

type(hello)

str

In [46]:
# number as string

s = '5'

In [47]:
print(s)
type(s)

5

str

In [48]:
# throws TypeError

'5' + 6

TypeError: can only concatenate str (not "int") to str

In [49]:
# solution: type casting

int('5') + 6

11

In [51]:
five_s = s * 5

print(five_s)
type(five_s)

55555

str

In [57]:
five_s + 2

TypeError: can only concatenate str (not "int") to str

In [52]:
five_s_int = int(five_s)

print(five_s_int)
type(five_s_int)

55555

int

In [53]:
five_s_int + 2

55557

In [55]:
float('5.2') * 4

20.8

In [56]:
# float needs . instead of , 

float('5,2') * 4

ValueError: could not convert string to float: '5,2'

In [59]:
str(25) * 2

'2525'

## Fehlermeldungen lesen

In [58]:
print('Hello World!'

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_25588/628126063.py, line 1)

In [60]:
print(var_xy)

NameError: name 'var_xy' is not defined