# Komplexe Datenstrukturen

## Listen

In [1]:
# list containing integers 
list_1 = [1, 2, 3, 4]
print(list_1)

[1, 2, 3, 4]

In [2]:
# list containing strings
list_2 = ['egg', 'banana', 'bread', 'cheese']
print(list_2)

['egg', 'banana', 'bread', 'cheese']

In [3]:
# list containing multiple datatypes
list_3 = ['string', 2, True, 2.76]
print(list_3)

['string', 2, True, 2.76]

In [4]:
# assign empty list
empty_list = []
print(empty_list)

[]

In [5]:
# append item to list
another_list = []

another_list.append('Hello World!')
print(another_list)

another_list.append([1, 2, 3, 4])
print(another_list)

another_list.append(42)
print(another_list)

['Hello World!']
['Hello World!', [1, 2, 3, 4]]
['Hello World!', [1, 2, 3, 4], 42]

In [6]:
# extend list by iterable
some_list = []

some_list.extend('Hello World!')
print(some_list)

some_list.extend([1, 2, 3, 4])
print(some_list)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']
['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!', 1, 2, 3, 4]

In [7]:
# insert value at third position

another_list.insert(2, 'egg')
print(another_list)

['Hello World!', [1, 2, 3, 4], 'egg', 42]

# Indizieren von Listen

In [26]:
another_list[2]

'egg'

In [8]:
another_list[-1]

42

In [9]:
another_list[1][2]

3

In [10]:
another_list[2] = 'spam'
print(another_list)

['Hello World!', [1, 2, 3, 4], 'spam', 42]

In [11]:
another_list[7]

IndexError: list index out of range

In [12]:
len(another_list)

4

In [13]:
'spam' in another_list

True

In [14]:
another_list.index(42)

3

## Slicing

In [15]:
len(some_list)

16

In [16]:
some_list[4:8]

['o', ' ', 'W', 'o']

In [17]:
some_list[:-10]

['H', 'e', 'l', 'l', 'o', ' ']

In [18]:
some_list[14:]

[3, 4]

In [19]:
some_list.remove('d')
print(some_list)
print(some_list.count('d'))

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', '!', 1, 2, 3, 4]
0

In [20]:
len(some_list)

15

In [21]:
# remove third item
spam = another_list.pop(2)
print(another_list)
print(spam)

['Hello World!', [1, 2, 3, 4], 42]
spam

## Tupel

In [22]:
# assigning tuple of tuples
some_tuple = (('Apfel', 'Banane'), ('Milch', 'Käse'))
another_tuple = ('Brot', 'Baguette', some_tuple)

print(some_tuple[0])
print(some_tuple[1][1])
print(another_tuple[2][1][0])

('Apfel', 'Banane')
Käse
Milch

In [23]:
# empty tuple

some_data = ()
print(type(some_data))
print(some_data)

<class 'tuple'>
()

## Sets

In [24]:
menge = {1, 2, 3, 3, 3, 4, 5}
print(type(menge))
print(menge)

<class 'set'>
{1, 2, 3, 4, 5}

In [25]:
empty_set = set()
print(type(empty_set))
print(empty_set)

<class 'set'>
set()

In [26]:
list_to_convert = [1, 2, 3, 3, 3, 4, 5]

In [27]:
converted_list = set(list_to_convert)
print(converted_list)

{1, 2, 3, 4, 5}

# Dictionaries

In [28]:
founding_date = {'Cluny': 910,
                 'Maria Laach': 1093,
                 'Plankstetten': 1129,
                 'St. Hildegard': 1904,
                 'Ottobeuren': 764}

print(founding_date)

{'Cluny': 910, 'Maria Laach': 1093, 'Plankstetten': 1129, 'St. Hildegard': 1904, 'Ottobeuren': 764}

In [29]:
founding_date['Oelinghausen'] = 1174
print(founding_date)

{'Cluny': 910, 'Maria Laach': 1093, 'Plankstetten': 1129, 'St. Hildegard': 1904, 'Ottobeuren': 764, 'Oelinghausen': 1174}

In [37]:
for key in founding_date.keys():
    print(key)

Cluny
Maria Laach
Plankstetten
St. Hildegard
Ottobeuren
Oelinghausen

In [36]:
for value in founding_date.values():
    print(value)

910
1093
1129
1904
764
1174

In [30]:
for item in founding_date.items():
    print(item)

print(type(item))

('Cluny', 910)
('Maria Laach', 1093)
('Plankstetten', 1129)
('St. Hildegard', 1904)
('Ottobeuren', 764)
('Oelinghausen', 1174)
<class 'tuple'>

In [31]:
sorted_founding_dates = sorted(founding_date.values())
print(sorted_founding_dates)

[764, 910, 1093, 1129, 1174, 1904]

In [32]:
founding_date.get('Cluny')

910

In [33]:
# nested dictionary
abtei_cluny = {'Cluny': {'Land': 'Frankreich', 
                        'Bauphasen_Beginn': 
                                {'Cluny A': 910, 
                                'Cluny I': 926, 
                                'Cluny II': 955, 
                                'Cluny III': 1088}
                        }           
                }

In [34]:
abtei_cluny['Cluny']

{'Land': 'Frankreich',
 'Bauphasen_Beginn': {'Cluny A': 910,
  'Cluny I': 926,
  'Cluny II': 955,
  'Cluny III': 1088}}

In [35]:
abtei_cluny['Cluny']['Bauphasen_Beginn']

{'Cluny A': 910, 'Cluny I': 926, 'Cluny II': 955, 'Cluny III': 1088}

In [82]:
abtei_cluny['Cluny']['Bauphasen_Beginn']['Cluny II']

955